In [11]:
from operator import index
import streamlit as st
import plotly.express as px
from pycaret.regression import setup, compare_models, pull, save_model, load_model
import ydata_profiling
import pandas as pd
from streamlit_pandas_profiling import st_profile_report
import os 





df = pd.read_csv("dataset.csv")
st.dataframe(df)


profile = ydata_profiling.ProfileReport(df)


df.head()

,Id,Model,Price,Age_08_04,KM,HP,Automatic,CC,Doors,Cylinders,Gears,Weight
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,46986,90,0,2000,3,4,5,1165
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,72937,90,0,2000,3,4,5,1165
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,41711,90,0,2000,3,4,5,1165
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,48000,90,0,2000,3,4,5,1165
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,38500,90,0,2000,3,4,5,1170

In [16]:
#drop non numeric columns
#find the columns that are non numeric
non_numeric_columns = [col for col in df.columns if df[col].dtype == 'object']
#drop the non numeric columns
df = df.drop(non_numeric_columns, axis=1)
display(df.head())
#save csv of df
df.to_csv('numeric corrola.csv', index=False)

chosen_target = df["Price"]
    
setup(df, target=chosen_target)

best_model = compare_models()
compare_df = pull()

save_model(best_model, 'best_model')

,Id,Price,Age_08_04,KM,HP,Automatic,CC,Doors,Cylinders,Gears,Weight
0,1,13500,23,46986,90,0,2000,3,4,5,1165
1,2,13750,23,72937,90,0,2000,3,4,5,1165
2,3,13950,24,41711,90,0,2000,3,4,5,1165
3,4,14950,26,48000,90,0,2000,3,4,5,1165
4,5,13750,30,38500,90,0,2000,3,4,5,1170

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Id', 'Price_x', 'Age_08_04', 'KM',
                                              'HP', 'Automatic', 'CC', 'Doors',
                                              'Cylinders', 'Gears', 'Weight'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('trained_model', LinearRegression(n_jobs=-1))]),
 'best_model.pkl')